@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{
    /*Colores de la marca KIKO MILANO*/
    --negro: #000000;
    --blanco: #ffffff;
    --rosapastel: #ffc5d3;
}

body{
    font-family: "Lexend", sans-serif;
    background-color: var(--blanco);
}

h1{
    background-color: #ffc5d3;
    color:black ;
    font-family: "Lexend", sans-serif;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    
}

.logokiko{
    width: 100%;
    text-align: center;
}
.logokiko:hover{
    animation: mianimacion 2s;
}

@keyframes mianimacion {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.5);
    }
    
}

p.intro{
    font-size: 3rem;
    color: #000000;
    font-size: 25px;
    text-align: center;
    
}

p.dentro-de-subtitulo{
    font-size: 3rem;
    color: #000000;
    font-size: 15px;
    text-align: center;

}